[submodule "Submodules/github.com/ankurp/Dollar.swift"]
	path = Submodules/github.com/ankurp/Dollar.swift
	url = https://github.com/ankurp/Dollar.swift.git
[submodule "Submodules/github.com/Alamofire/Alamofire"]
	path = Submodules/github.com/Alamofire/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
